@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

@media (max-width: 375px) {
  html {
    font-size: 13px;
    zoom: 85%;
  }
}

html {
  font-family:'Barlow', Helvetica, Arial, sans-serif !important;
  font-size: 16px;
}


body {
  /*position: relative;*/
  color: #111111;
  background-color: #dddde8;
  /* background-image: linear-gradient(to right, #541b65, #041340); */
  position: static;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  width: 100%;
}

#divTop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

#divTop > div {
  width: 375px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
}


#divTabBack {

  width: 100%;
  height: 40px;
   /* same with height of divTop */
  margin-bottom: 20px;
  /* background-color: #5027aa; */
  background-image: linear-gradient(to bottom, #792bbc, #2b33ba);
  /* box-shadow: 0px 15px 10px -8px  #777777; */
}

#divTab {
  font-size: 1.1rem;
  color: #ffffff;
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}


#tabMeta {
  width: 50%;
  padding-top: 9px;
  padding-bottom: 4px;
  border-bottom: 5px solid #ffffff;
}

#tabAbc {
  width: 50%;
  color: #999999;
}



#divTop10, #divBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imgHero {
  width: 46px;
  height: 46px;
  border-radius: 4px;
}

.groupBar {
  width: 70px;
}

.bar1 {
  height: 15px;
  width: 33px;
  background-color: green;
  
  background-image: linear-gradient(to bottom right, #54f66c, #2fd28e);
  border-radius: 0 4px 4px 0px;
}


.groupNumber {
  width: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

#divTop10 > div, #divBottom > div {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 0px #cccccc;
  
  height: 52px;
  margin: 4px;
}

#divTop10 > div {
  width: 175px;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  
}

#divBottom > div {
  width: 52px;
  
}



#cardHero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 370px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  
  height: 105px;
  overflow: hide;
  overflow-y: scroll;
  width: 370px  ;
  
  padding: 4px;
  
  background-image: linear-gradient(to bottom, #792bbc, #2b33ba);
  color:#ffffff;
  z-index: 1;
  opacity: 0.95;
  
  border-radius: 10px;
  border: 4px solid #4530BB ;
  /* visibility: hidden; */
}

@media (min-height: 1000px) {
  #cardHero {
    top: 750px;
  }
}





#divCardInfo {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#divCardGroupLink {
  position: absolute;
  width: 80px;
  right: 0;
}

#divCardInfoMain {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#divCardMainImg > img {
  width: 60px;
  height: 60px;
  margin: 4px;
  border-radius: 6px;
}

#divCardMainText > div {
  width: 210px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#divCardInfoSub {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


#divCardGroupLink > div {
  height: 35px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
