@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

@media (max-width: 375px) {
  html {
    font-size: 13px;
    zoom: 85%;
  }
}

html {
  font-family:'Barlow', Helvetica, Arial, sans-serif !important;
  font-size: 16px;
}

a {
  color: #eeeeee;
}


body {
  color: #111111;
  background-color: #dddddd;
  /* background-image: linear-gradient(to right, #541b65, #041340); */
  position: static;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  width: 100%;
}

#divTop {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

#divTop > div {
  width: 375px;
  height: 70px;
  display: flex;
  align-items: center;
}

#divTop img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  margin-left: 25px;
  border-radius: 5px;
}

#divTop p {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 1.3rem;
  
}


#divTab {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-bottom: 20px;
  background-color: #5027aa;
  font-size: 1.1rem;
  color: #ffffff;
}



#tabBasic {
  width: 122px;
}

#tabTalent {
  width: 123px;
}


#tabBuild {
  width: 122px;
  
}

.divBuild {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #271c3b;//mid
  border-radius: 10px;
  width: 365px;
}

.divBuildTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.divBuildTitle p {
  font-size: 1.2rem;
}



table {
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
  table-layout: fixed;
  
  
}

th {
  color: #444444 !important;
}

.imgTalent {
    width: 46px;
    height: 46px;
    border-radius: 5px;
}


.colS {
    width:50px;
}


.divWinRate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.divWinRate p {
  margin-left: 10px;
  margin-right: 10px;
}

.barWinRate {
  background-color: lightblue !important;
}
