@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

@media (max-width: 375px) {
  html {
    font-size: 13px;
    zoom: 85%;
  }
}

html {
  font-family:'Barlow', Helvetica, Arial, sans-serif !important;
  font-size: 16px;
}

a {
  color: white;
}


body {
  color: white;
  background-color: #000207;
  position: static;
  text-align: center;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  width: 375px;
}

#divTop {
  width: 100%;
  height: 60px;
  background-color: #000429;
  display: flex;
  align-items: center;
  
}

#divTop img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
}
#divTop p {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 1.3rem;
  
}


#divTab {
  diplay: flex;
  justify-content: space-around;
  align-items: center;
  height: 20px;
}

#divTab div {
  display: inline-block;
  width: 120px;
}


.divBuild {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  background-color: #111550;
  border-radius: 10px;
  width: 365px;
}

.divBuildTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.divBuildTitle p {
  font-size: 1.2rem;
}



table {
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
  table-layout: fixed;
  
  
}

th {
  color: #dddddd !important;
}

.imgTalent {
    width: 46px;
    height: 46px;
    border-radius: 5px;
}


.colS {
    width:50px;
}


.divWinRate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.divWinRate p {
  margin-left: 10px;
  margin-right: 10px;
}

.barWinRate {
  background-color: lightblue !important;
}
